.profileContainer{
    margin-top: 20px;
    font-size: large;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 800px;
    background-color: white;
    padding: 2%;
    border-radius:10px;
}

.titleText{
    text-align: center;
    padding-bottom: 20px;
}

.labelText{
    text-align: right;
}