.timetableContainer{
    margin-top: 20px;
    font-size: large;
    margin-left: 20%;
    margin-right: 20%;
    max-width: 800px;
    background-color: white;
    padding: 2%;
    border-radius:10px;
}

.timetable{
    border: 1px solid black;
    border-radius: 10px;
}

.titleText{
    text-align: center;
}

tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
  }
  
  th:nth-child(even),td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
  }